[bumpversion]
current_version = 1.0.0
commit = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:sync_db/main.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:version.txt]
parse = (?P<major>\d+), (?P<minor>\d+), 0, (?P<patch>\d+)
serialize = {major}, {minor}, 0, {patch}
